
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<link type="text/css" rel="stylesheet" href="/css/styles.css">
<head>
<title>Edit User</title>
</head>
<body>
<a href="/" class="btn btn-success">Edit user</a>
<h1>Edit event</h1>
<form th:object="${user}" th:action="@{../saveuser}" action="#" method="post">
<label for="id"></label>
<input type="hidden" id="id" th:field="*{id}" readonly="readonly" />
<input type="hidden" id="id" th:field="*{username}" readonly="readonly" />
<div style="clear: both; display: block; height: 10px;"></div>
<label for="firstName">First name</label>
 <input type="text" id="firstName" th:field="*{firstName}" />
     </br>
 <label for="description">Last Name</label>
 <input type="text" id="lastName" th:field="*{lastName}" />
     </br>
 <label for="ticketLimit">Ticket limit</label>
 <input type="text" th:field="*{ticketLimit}" />
     </br>
 <label for="startDate">Date</label>
 <input type="date" th:field="*{startDateFormatted}" max="2999-12-31"/>
     </br>
 <label for="startTime">Time</label>
 <input type="time" id="appt" name="appt"
        required th:field="*{startTime}">
     </br>
     	  <label for="venue">Venue</label>
 		<input list="venues" th:field="*{venue}">
		<datalist id="venues">
  		<option th:each="venue : ${venues}" th:value="${venue.venueId}" th:text="${venue.name} + ' (' + ${venue.address} + ')'"></option>
		</datalist>
		</br>
 <label for="price">Price</label>
 <input type="text" th:field="*{price}" />
   </br>

    </br>
   <a href="/addcategory">Add category (requires refresh)</a>
   </br>
<div style="clear: both; display: block; height: 10px;"></div>
<input class="btn btn-success" type="submit" value="Save"></input>
</form>
</body>
</html>

